<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- p태그는 글 문단 태그 -->
    <p>입력한 아이디의 값은 : <%=id%></p>
    <p>입력한 패스워드의 값은 : <%=pass%></p>
</body>
</html>