<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        식품 이력 추가 / 조회
    </h1>
    <a href="/regist_food">식품 등록</a><br><br>
    <a href="/add_history">식품 이력 추가</a><br><br>
    <form action="/view" method="get">
        <input type="text" name="_food" placeholder="Food Code"><br>
        <input type="submit" value="식품 이력 조회">
    </form>
</body>
</html>