<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>식품 등록</h1>

    <form action="/regist" method="post">
        <input type="text" name="_food" placeholder="Food Code"><br>
        <input type="text" name="_name" placeholder="Food Name"><br>
        <input type="text" name="_type" placeholder="Food Type"><br>
        <!-- 등록자는 현재는 가나슈의 지갑의 주소의 위치 값을 넣을수 있도록 구성 -->
        <input type="numer" name="_address" placeholder="register address"><br>
        <input type="submit" value="식품 추가">
    </form>
</body>
</html>